:root {
  font-size: 20px;
  /* Defina o tamanho desejado para o rem */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}

.hero-image {
  background-image: url('../images/forest-fortnite-at-night.png');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  width: 33vw;
  max-width: 300px;
  top: 25%;
  left: 20%;
}

h1,
h2,
h3,
p {
  font-family: 'Gorditas', cursive;
  margin: 0;
  padding: 0;
}

body h1 {
  font-size: 2rem;
  background: -webkit-linear-gradient(top, rgba(246, 74, 185, 1),
      rgba(241, 153, 217, 1) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body h2 {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

body p {
  font-size: .7rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 40vh;
  max-height: 300px;
  background: radial-gradient(closest-side, rgba(3, 6, 21, 0.95), rgba(27, 19, 53, 0.95), rgba(29, 20, 55, 0.95), rgba(8, 20, 44, 0.95), rgba(4, 9, 28, 1), rgba(4, 9, 28, 0.95));
}

.bottom-section {
  display: flex;
  width: max-content;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50%;
  max-width: 300px;
  max-height: 125px;
  border-left: 1px solid rgba(240, 227, 227, 0.28);
  border-right: 1px solid rgba(240, 227, 227, 0.28);
}

.about-section * {
  font-family: 'Libre Caslon Text', serif;
}

.about-title {
  font-size: 1rem;
  margin: 0;
}

.about-subtitle {
  font-size: 0.7rem;
}

.about-text {
  font-size: 0.5rem;
}

.about-button {
  background: linear-gradient(rgba(115, 119, 152, 0.81) 50%, rgba(58, 62, 96, 1));
  border: 0;
  border-radius: 5px;
  max-width: 50%;
  min-width: 200px;
  padding: 5px;
  color: white;
}

.about-button:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

.flex-about-section {
  flex: 33vw;
}

.flex-image-1 {
  flex: 33vw;
  max-width: 300px;
  max-height: 125px;
}

.flex-selection-cards {
  flex: 33vw;
  max-width: 300px;
  max-height: 125px;
}

.selection-cards {
  display: flex;
  justify-content: center;
}

.card-one,
.card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min-content;
  margin: 6.5px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(20, 12, 26, 1), rgba(7, 6, 18, 1));
  border-radius: 5px;
  min-height: 70px;
}

.card-star {
  text-align: center;
}

.card-text {
  margin: 0;
  padding: 0;
  color: rgba(237, 93, 148, 1);
}

.introduction-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.introduction-text {
  max-width: 1000px;
  text-align: center;
}